@charset "UTF-8";

body {
    background-color: lightgray;
}

/* 一番上のトップ */
.header_slider img {
    width: 100%;
}

.header {
    position: relative;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7% 0 3%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;

}

.header_logo {
    width: 227px;
}

.pc_nav ul {
    display: flex;
    gap: 54px;

}

.pc_nav li {
    width: 105px;
    text-align: center;
    color: #fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

/* ハッピー */

.top-messege {
    width: 1000px;
    justify-content: center;
    align-items: center;
}

.catch-sub {
    font-size: 30px;
    margin: 104px auto 47.7px;
}

.catch-main1 {
    font-size: 82px;
    line-height: 1.17;
    letter-spacing: 0.1;
    margin: 0 auto 22px;
}

.catch-main2 {
    font-size: 23px;
    line-height: 1.65;
    letter-spacing: 0.1;
    margin: 0 auto;
}

/* About us */

.about {
    max-width: 1000px;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 0 auto;
}

.about-image {
    width: 50%;
    border-radius: 0 0 82.373px 0;
}

.about-text {
    width: 41%
}

.about-text h2 {
    width: 272px;
    height: 77px;
    margin-bottom: 47.96px;
}

.about-lead {
    font-size: 44px;
    margin-bottom: 23.98px;
    line-height: 1.45;
}

.about-description {
    font-size: 16px;
    line-height: 1.625;

}

/* MENU */
.menu {
    text-align: center;
}

.menu h2 {
    width: 151.38px;
    height: 78.3px;
    margin-top: 96px;
    margin: 0 auto;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
    max-width: 1000px;
    margin-top: 39.1803px auto;


}

.menu-img-wrapper {
    position: relative;

}

.menu-img-wrapper img {
    width: 328.6px;
    height: 219px;
    object-fit: cover;
    border-radius: 0 41.64px 0 0px;
    display: block;
}

.menu-img-wrapper h3 {
    position: absolute;
    font-size: 38px;
    line-height: 0.5789;
    margin-bottom: 11.1148px;
    color: #d30202;
}

.menu-item p {
    font-size: 17px;
    line-height: 1.47;
    text-align: left;
}

/* gallery */
.gallery h2 {
    width: 245px;
    height: 78px;
    margin-top: 38px;
    margin: 0 auto;

}

.gallery-container {
    display: flex;
    justify-content: center;
    gap: 0;
    max-width: 1000px;
}

.gallery-container {
    width: 465.8px;
    height: 319px;
    object-fit: cover;
}

/* event */
.event h2 {
    width: 173px;
    height: 78.3px;
    margin-top: 58.9px;
    margin: 0 auto;
}

.event-list {
    max-width: 1000px;
    margin: 21px auto 67px;
    border: 1px solid;
    padding: 38.9px;
    background-color: #ffffff;
}

.event-item {
    display: flex;
    flex-direction: row;
    text-align: left;
}



.event-date {
    font-size: 23px;
    line-height: 1.956;
}

.event-text {
    margin-left: 47.59px;
    font-size: 23px;
    line-height: 1.956;
}

/* access */
.access h2 {
    width: 213.8px;
    height: 78.3px;
    margin: 0 auto;
}

.map-container {
    width: 100%;
    max-width: 1000px;
    margin-top: 37.4px;

}

/* shop name */
.shop-info {
    margin-top: 73px;
    display: flex;
    justify-content: center;
}

.shop-name {
    width: 226.76px;
    height: 50px;
    color: #4f260b;
    margin: 0 auto;
}

/* footer */
footer {
    font-size: 16px;
    line-height: 2.28;
    margin: 73px auto;
}

/* btn */
.page-top-btn {
    position: fixed;
    bottom: 40px;
    right: 40px;
}

.page-top-btn img {
    width: 125px;
    height: 125px;
}