@charset "UTF-8";

body {
    background-color: #E8D9BF;
}

/* 一番上のトップ */
.header_slider img {
    width: 100%;
}

.header {
    position: relative;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7% 0 3%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;

}

.header_logo {
    width: 227px;
}

.pc_nav ul {
    display: flex;
    gap: 54px;

}

.pc_nav li {
    width: 105px;
    text-align: center;
    color: #fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

/* スマホ版 */
.sp_nav,
.sp_btn {
    display: none;
}

/* メニューとロゴがぶつかる直前のタイミング */
@media screen and (max-width:1100px) {
    .pc_nav {
        display: none;
    }

    /* ハンバーガーボタン */
    .sp_btn {
        display: block;
        height: 23px;
        cursor: pointer;
        position: absolute;
        top: 23px;
        right: 25px;
        /* 重なり具合 */
        z-index: 2;

    }

    .sp_btn span {
        display: block;
        width: 33px;
        height: 3px;
        background-color: #fff;
        border-radius: 2px;
        position: relative;
        top: 10px;
        transition: 0.3s;
        cursor: pointer;
    }

    .sp_btn span::before,
    .sp_btn span::after {
        content: '';
        display: block;
        width: 33px;
        height: 3px;
        background-color: #fff;
        border-radius: 2px;
        position: absolute;

    }

    .sp_btn span::before {
        bottom: 10px
    }

    .sp_btn span::after {
        top: 10px
    }

    /* バツ印 */
    .sp_btn.open span {
        background-color: transparent;
    }

    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    .sp_btn.open span::after {
        top: 0;
        transform: rotate(135deg);
    }

    /* メニューの見た目 */
    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        /* 重なり具合 */
        z-index: 1;
    }

    .sp_nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 40px;

    }

    .sp_nav ul li {
        color: #fff;
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
            "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
        font-size: 18px;
        font-weight: bold;

    }

}

/* top-massege */
.top-massege {
    padding-top: 107px;
    padding-bottom: 93px;
}

.top-massege p {
    text-align: center;
}



.catch-sub {
    font-size: 30px;
}

.catch-main1 {
    font-size: 82px;
    line-height: 1.17;
    letter-spacing: 0.1em;
    margin-top: 48px;
}

.catch-main2 {
    font-size: 23px;
    line-height: 1.65;
    letter-spacing: 0.1em;
    margin-top: 22px;
}

/* About us */

.about {
    max-width: 1000px;
    margin: 0 auto;
    padding-right: 10px
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.about-image {
    width: 50%;
    border-radius: 0 0 82.373px 0;
}

.about-text {
    width: 41%
}

.about-text h2 {
    width: 272px;
    margin-bottom: 47.96px;
}

.about-lead {
    font-size: 44px;
    margin-top: 49px;
    line-height: 1.45;
    text-align: left;
}

.about-description {
    font-size: 16px;
    line-height: 1.625;
    margin-top: 24px;
    text-align: justify;

}

/* MENU */
.menu {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 95px 10px 82px 10px;
}

.menu h2 {
    width: 151.38px;
    margin: 0 auto;
    padding-bottom: 39px;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
    max-width: 1000px;
    margin-top: 39px auto;


}

.menu-img-wrapper {
    position: relative;

}

.menu-img-wrapper img {
    border-radius: 0 41.64px 0 0px;
    display: block;
}

.menu-img-wrapper h3 {
    position: absolute;
    font-size: 38px;
    margin-bottom: 11.1148px;
    color: #d30202;
    top: 95%;
}

.menu-item p {
    font-size: 17px;
    line-height: 1.47;
    text-align: left;
    padding-top: 44px;
}

/* gallery */
.gallery h2 {
    width: 245px;
    margin: 0 auto;

}

.gallery-container {
    display: flex;
    gap: 0;
    margin-top: 15px;
}

.gallery-container img {
    width: 20%;
    object-fit: cover;
}

/* event */
.event {
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 10px 70px 10px;
}

.event h2 {
    width: 173px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.event-list {
    max-width: 1000px;
    border: 1px solid;
    padding: 38.9px;
    background-color: #ffffff;
}

.box {
    width: fit-content;
    margin: 0 auto;
}

.event-item {
    display: flex;
    flex-direction: row;
    text-align: left;
}



.event-date {
    font-size: 23px;
    line-height: 1.956;
}

.event-text {
    margin-left: 47.59px;
    font-size: 23px;
    line-height: 1.956;
    text-decoration: underline;
}



/* access */
.access h2 {
    width: 213.8px;
    margin: 0 auto;
    padding-bottom: 39px;
}


iframe {
    height: 471px;
    width: 100%;
    display: block;
}


/* footer */

/* shop name */
footer {
    background-color: #FFFFFF;
    padding: 76px 10px 75px 10px;
}

.shop-info {
    display: flex;
    justify-content: center;
    gap: 64px;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: flex-start;
}

.shop-info h2 img {
    width: 226.76px;
}

.footer-text p {
    font-size: 20px;
    line-height: 1.95;
    text-align: left;
    color: #000;
}

.small {
    padding-top: 72px;
}

.small {
    font-size: 16px;
    line-height: 2.28;
    text-align: center;
    color: #000;
}

/* btn */
.page-top-btn {
    position: fixed;
    bottom: 40px;
    right: 40px;
}

.page-top-btn img {
    width: 125px;
    height: 125px;
}

/* レスポンシブ対応 */
@media screen and (max-width:767px) {
    body {
        margin: 0;
        box-sizing: border-box;
    }

    .header_slider {
        width: 100vw;
        margin: 0;
        padding: 0;
    }


    .header_slider img {
        width: 100%;
        height: auto;
        display: block;
    }

    /* ナビゲーション非表示（PC用） */
    .pc_nav {
        display: none;
    }

    /* ハンバーガーメニュー表示（スマホ用） */
    .sp_btn {
        display: block;
    }

    /* top-massege */
    .top-massege {
        padding-top: 41px;
        padding-bottom: 53px;
        text-align: center;
    }

    .catch-sub {
        font-size: 17px;
        line-height: 6.8;
        margin-bottom: 22px;
    }

    .catch-main1 {
        font-size: 38px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        margin-bottom: 12px;
    }

    .catch-main2 {
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.1em;
    }

    /* PAGETOPボタンの位置調整 */
    .page-top-btn {
        position: fixed;
        right: 12px;
        bottom: 12px;
        width: 100px;
        height: 100px;
    }

    .header_logo img {
        height: 41px;
        width: auto;
    }

    /* about */
    .about-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-container .about-text {
        order: 1;
    }

    .about-container img {
        order: 2;
        width: 100%;
        height: auto;
    }

    .about-text {
        text-align: center;
        width: 100%;
        padding: 0 10px;
    }

    .about-lead {
        font-size: 36px;
        line-height: 1.25;
    }

    .about-description {
        font-size: 16px;
        line-height: 1.75;
    }

    .about-container picture:nth-of-type(1)img {
        width: 100%;
        height: 245px;
    }

    .about-container picture:nth-of-type(2)img {
        width: 160px;
        height: 45px;
    }

    /* menu */
    .menu-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-item {
        width: 100%;
        text-align: center;
    }

    .menu-img-wrapper img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    /* 
    .menu-img-wrapper h3 {
        font-size: 40px;
        text-align: center;
        line-height: 1.8;
    } */

    /* .menu-item p {
        font-size: 17px;
        line-height: 0.62;
    } */

    /* gallery */
    .gallery-container img {
        display: none;
    }

    .gallery-container img:first-child {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .gallery-container {
        text-align: center;

    }

    /* event */
    .event-item {
        display: flex;
        align-items: center;
        gap: 26px;
        /* padding-top: 20px;
        padding-bottom: 16px;
        padding-left: 27px; */
    }

    .event-date {
        font-size: 16px;
        white-space: nowrap;
        flex-shrink: 0;
        width: 100px;

    }

    .event-text {
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: 1;
    }

    .box {
        border: 3px solid #4F260B;
        padding: 16px 20px 26px 20px;
    }

    /* access */
    .map-container iframe {
        width: 100%;
        height: 191px;
        max-width: 376px;
        border: none;
    }

    /* footer */
    .shop-info {
        display: flex;
        flex-direction: column;
    }



}

/* 質問
・pictureタグの使い方が手探りなので、見ていただきたいです。
・ABOUT USの要素の入れ替えのところが、何に何をつければいいかわかりませんでした。
・写真の大きさの調整方法がわかりませんでした💦
・top-massegeの改行と余白がうまくいきませんでした。
・ギャラリーの写真の変え方がわかりましんでした。
・event部分がうまくいかなかった原因を教えていただきたいです。
・ボタンが消えてしまいました。

よろしくお願いいたします。 */