@charset "UTF-8";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
    margin: 0 auto;
}

nav ul {
    display: flex;
    gap: 20px;
    padding: 10px 0;

}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    /* margin-left: 30px; */
}

/* mainvisual */
.mainvisual {
    margin-bottom: 80px;
}

.mainvisual img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;

}

/* about */
#about {
    text-align: center;
    color: #383e45;
    font: 14.4px "Noto Sans JP";
    margin: 0 1.2px 100px;
    padding: 0 38.4875px;


}

#about h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 50px;
    border-bottom: 2px solid #9acd32;
    display: inline-block;
    padding-bottom: 8px;


}

#about .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;

}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0 30px 0 0;
}

.profile-text {

    text-align: left;
    font-size: 14.4px;
    max-width: 300px;
    line-height: 1.6;

}

.profile-text h3 {
    margin: 10px 0;
    font-size: 16px;
}

/* bicycles */

#bicycle-list {
    text-align: center;
    color: #383E45;
    font: "Noto Sans JP";
    margin: 0 1.2px 100px;
    padding: 0 38.4875px;
}

#bicycle-list h2 {
    text-align: center;
    font-size: 32px;
    /* margin: 0 0 60px; */
    margin-bottom: 60px;
    /* margin-top: 80px; */
    border-bottom: 2px solid #9acd32;
    display: inline;
}

#bicycle-list ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

#bicycle-list li {
    width: 200px;
    text-align: center;
}

#bicycle-list h3 {
    font-size: 16px;
    margin: 10px 0;

}

/* footer */
footer {
    padding: 10px o;
    text-align: center;
    margin-top: 80px;
    color: #383E45;
    font: 8px "Noto Sans JP";
    padding: 10px o;
}

@media screen and (max-width:400px) {

    /* header {
        flex-direction: column;
        gap: 12px;
        text-align: center;
    } */

    #about div {
        flex-direction: column;

    }

    #bicycle-list ul {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    #bicycle-list li {
        width: 100%;
        margin-bottom: 30px;
    }


}