@charset "UTF-8";

body {
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    max-width: 960px;
}

h1 {
    text-align: center;
    color: lightblue;
    font-size: 24px;
    margin-bottom: 30px;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}


.card {
    width: 29%;
    background-color: white;
    padding: 10px;
    text-align: center;
}

.card h2 {
    text-align: left;
    border-left: 6px solid lightblue;
    padding-left: 10px;
    margin: 10px 0;
    font-size: 18px;
    color: lightblue;
}

.card img {
    width: 100%;
}

@media screen and (max-width:767px) {
    .card-wrapper {
        flex-direction: column;
    }

    .card {
        width: 100%
    }
}